<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ef431697ae034e1bb556ef1df3b3c3b7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ef431697ae034e1bb556ef1df3b3c3b7" ></div>
        
</body>
<script>    
    
            var map_ef431697ae034e1bb556ef1df3b3c3b7 = L.map(
                "map_ef431697ae034e1bb556ef1df3b3c3b7",
                {
                    center: [28.6643, 77.2167],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_780c0c70033f4637b485a21895ba844d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ef431697ae034e1bb556ef1df3b3c3b7);
        
    
            var marker_68fc2900c76c4c6694b14f278064fa2b = L.marker(
                [28.557584615276948, 77.25954947632138],
                {}
            ).addTo(map_ef431697ae034e1bb556ef1df3b3c3b7);
        
    
        var popup_b31c5ebac83e4d52b58ac7ea76ff2617 = L.popup({"maxWidth": 165, "minWidth": 165});

        
            var i_frame_97ec90816caf43c3a81dc8de66317a25 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBNb3NzOjI8YnI+Qm9keSBJbXBhY3RlZDogMzxicj5JbXB1cml0eSBvZiBXYXRlcjogMTxicj5Ub3RhbCBTY29yZTogMg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_b31c5ebac83e4d52b58ac7ea76ff2617.setContent(i_frame_97ec90816caf43c3a81dc8de66317a25);
        

        marker_68fc2900c76c4c6694b14f278064fa2b.bindPopup(popup_b31c5ebac83e4d52b58ac7ea76ff2617)
        ;

        
    
    
            var marker_354f092bb62247a492378ec46ff5ff53 = L.marker(
                [28.55979133098378, 77.33880274563035],
                {}
            ).addTo(map_ef431697ae034e1bb556ef1df3b3c3b7);
        
    
        var popup_4bdab8b0e5244f36adef69c44501e91a = L.popup({"maxWidth": 165, "minWidth": 165});

        
            var i_frame_4c61d98ab490471384d35afb6a2af024 = $(`<div style="width:100%;"><div style="position:relative;width:100%;height:0;padding-bottom:60%;"><iframe src="data:text/html;charset=utf-8;base64,CiAgICBNb3NzOjI8YnI+Qm9keSBJbXBhY3RlZDogMzxicj5JbXB1cml0eSBvZiBXYXRlcjogMTxicj5Ub3RhbCBTY29yZTogMg==" style="position:absolute;width:100%;height:100%;left:0;top:0;border:none !important;"></iframe></div></div>`)[0];
            popup_4bdab8b0e5244f36adef69c44501e91a.setContent(i_frame_4c61d98ab490471384d35afb6a2af024);
        

        marker_354f092bb62247a492378ec46ff5ff53.bindPopup(popup_4bdab8b0e5244f36adef69c44501e91a)
        ;

        
    
</script>